h1 {color: red; 
  display: red;
  border-bottom: 3px solid red;}
h2 {display: inline-block;
  border-bottom: 2px solid blue;}
body {background-color: lightblue;}
h3 {display: inline-block;
  border-bottom: 2px solid green;}
.hover-effect:hover {opacity: 0.5;}
img { border-radius: 3px;}
div:first-of-type img{filter: grayscale(100%);}
.menu {position: relative;
       display: inline-block;
       margin-bottom: 20px;}
.menu-btn {background-color: crimson;
           color: white;
           border: none;
           padding: 10px 20px;
           cursor: pointer;
           border-radius: 3px;}
.menu-content {display: none;
               position: absolute;
               background-color: white;
               min-width: 180px;
               box-shadow: 0 4px 8px rgba(0,0,0,2);
               z-index: 1000;}
.menu-content a {display: block;
                 padding: 12px;
                 text-decoration:none;
                 color: black;}
.menu-content a:hover {background-color: #f1f1f1;}
.menu:hover .menu-content {display:block;}
.bloc-footer{width:80%;
             margin:30px auto;
             padding:25px;
             border:2px solid #666;
             border-radius:20px;
             text-align:center;}
.bloc-footer h4{margin-top:0;}
.contact form{ display: flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;}